@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isPanel"]=true;
}

    @*Main content widget *@

<div class="row mb-8">

    
    <div class="col-md-4">
        <div class="d-flex flex-row widget TotalWeight">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-ev-station-fill"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Weight lifted 7 days</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalWeight kg</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget TotalWeight">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-7-square"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Days lifted 7 days</span>
                <h1 class="display-6 fw-bold">@ViewBag.daysLifted</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget TotalWeight">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="bi bi-calendar-day-fill"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Weight lifted today</span>
                <h1 class="display-6 fw-bold">@ViewBag.LiftedToday kg</h1>
            </div>
        </div>
    </div>
</div>



<br />
<br />

   
<div class="row mb-4">

    @* Donut Chart*@

    <div class="col-md-3 ">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">By Category</h5>
            </div>
            <ejs-accumulationchart id="donut" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.categoryCounts" xName="CategoryName" yName="CategoryCount"
                                           innerRadius="40%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="true">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    @*Line chart *@

    <div class="col-md-5 ">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Weight Last 30 days</h5>
            </div>
            <ejs-chart id="spline-chart" background="#1a222b"
                       palettes=@(new string[]{"#54ffa9","#ffe91a"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="1"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.LineData" xName="day" width="3"
                              yName="totalWeightByDay" name="Weight" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" splineType="@Syncfusion.EJ2.Charts.SplineType.Monotonic"></e-series>
                              
                    
                    
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>

    @* Column Chart*@

    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Average by category</h5>
            </div>
            <ejs-chart id="container" width="100%" palettes="@(new string[]{"#54ffa9","#ffe91a"})">
                <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.CategoryAverages" xName="CategoryName" opacity="0.5" yName="AverageWeight" EnableTooltip="true"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                        <e-series-marker>
                            <e-series-datalabel visible="true" position="Top">
                                <e-font fontWeight="200"  color="greenyellow" ></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                        
                            
                            
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
</div>




@* Drag and Drop*@

